:root {
    --column-selector-background-color: #f5f5f5;
    --column-selector-font-color: inherit;
    --column-selector-font-size: 14px;
    --column-selector-height: 38px;
    --column-selector-border-color: #f1f1f1;
    --column-selector-padding-top: 6px;
    --column-selector-padding-right: 6px;
    --column-selector-padding-bottom: 6px;
    --column-selector-padding-left: 6px;
}
