:root {
    --column-selector-background-color: #f5f5f5;
    --column-selector-font-color: inherit;
    --column-selector-font-size: 1.4rem;
    --column-selector-height: 3.8rem;
    --column-selector-border-color: #ccc;
    --column-selector-padding-top: 0.6rem;
    --column-selector-padding-right: 0.6rem;
    --column-selector-padding-bottom: 0.6rem;
    --column-selector-padding-left: 0.6rem;
    --column-selector-dragging-border-color: #4ca1af;
}
