.hidden-column {
    display: none;
}

.column-display-selector-container {
    position: relative;
    overflow: hidden;
    height: var(--column-selector-height, 38px);
    line-height: 1;
    display: flex;
    align-items: center;

    & .column-display-checkboxlist {
        position: absolute;
        z-index: 10;
        top: calc(var(--column-selector-height, 38px) - 1px);
        display: grid;
        grid-template-columns: 0;
        opacity: 0;
        transition: grid-template-columns .2s, opacity 0.2s ;
        margin-top: 0;

        > div {
            display: flex;
            align-items: center;
            justify-items: flex-start;
            padding-right: var(--column-selector-padding-right, 6px);
            padding-left: var(--column-selector-padding-left, 6px);
            border-left: 1px solid var(--column-selector-border-color, var(--GENERAL-BORDER-COLOR));
            border-right: 1px solid var(--column-selector-border-color, var(--GENERAL-BORDER-COLOR));
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
            background-color: var(--column-selector-background-color, var(--LIGHT-GREY));
            input[type='checkbox'] {
                margin: 0;
                position: relative;
            }
            label {
                margin: 4px;
                padding-left: 0;
            }
            .dragger {
                display: block;
                cursor: pointer;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiMyNDI0MjQiIGQ9Ik03IDE5di0yaDJ2MnptNCAwdi0yaDJ2MnptNCAwdi0yaDJ2MnptLTgtNHYtMmgydjJ6bTQgMHYtMmgydjJ6bTQgMHYtMmgydjJ6bS04LTRWOWgydjJ6bTQgMFY5aDJ2MnptNCAwVjloMnYyek03IDdWNWgydjJ6bTQgMFY1aDJ2MnptNCAwVjVoMnYyeiIvPjwvc3ZnPg==);
                background-repeat: no-repeat;
                background-position: left center;
                background-size: 20px;
                height: 20px;
                width: 22px;
            }
        }
        > div:first-child {
            padding-top: var(--column-selector-padding-top, 6px);
            border-top: 1px solid var(--column-selector-border-color, var(--GENERAL-BORDER-COLOR));
        }
        > div:last-child {
            padding-bottom: var(--column-selector-padding-bottom, 6px);
            border-bottom: 1px solid var(--column-selector-border-color, var(--GENERAL-BORDER-COLOR));
        }
    }

    & .column-display-selector-header {
        background-color: var(--column-selector-background-color, var(--LIGHT-GREY));
        border: 1px solid var(--column-selector-border-color, var(--GENERAL-BORDER-COLOR));
        height: var(--column-selector-height, 38px);
        cursor: pointer;
        user-select: none;
        padding-right: 20px;
        padding-left: 8px;
        color: var(--column-selector-font-color, var(--BODY-FONT-COLOR));
        font-size: var(--column-selector-font-size, var(--BODY-FONT-SIZE));
        display: flex;
        align-items: center;
        z-index: 11;
    }

    & .column-display-selector-header:after {
        content: "\25BE";
        position: absolute;
        right: 4px;
        color: var(--column-selector-font-color, var(--BODY-FONT-COLOR));
        font-size: 20px;
        height: 20px;
        width: 20px;
        transition: transform .2s;
    }
    
    & .checkbox label {
        white-space: nowrap;
        color: var(--column-selector-font-color, var(--BODY-FONT-COLOR));
        font-size: var(--column-selector-font-size, var(--BODY-FONT-SIZE));
    }
}
    
.expand.column-display-selector-container {
    overflow: visible;
    & .column-display-selector-header {
        border-bottom: 1px solid transparent;
    }
    & .column-display-selector-header:after {
        transform: rotate(180deg) translate(3px, 0px);
    }
    & .column-display-checkboxlist {
        grid-template-columns: 1fr;
        opacity: 1;
    }
}
li.drag-sort-active {
    background: transparent;
    color: transparent;
    border: 1px solid var(--column-selector-dragging-border-color, var(--SECONDARY-THEME-COLOR));
}
span.drag-sort-active {
    background: transparent;
    color: transparent;
  }